.codeblock {
  font-size: 13px;
}

.codecontainer {
  height: "350px";
  overflow: "auto";
}

.liveEditor {
  overflow: "auto";
  border-radius: "4px";
}

.codeEditor {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

.error {
  position: absolute;
  top: 90px;
  left: 4%;
  width: 100%;
  background: #99000088;
  height: 80%;
  width: 90%;
  border-radius: 5px;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.dropdown {
  line-height: 80px;
  text-align: center;
}

.dropdown h2 {
  display: inline-block;
  margin-right: 1rem;
}

.dropdown select {
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.1rem 0.5rem;
}
