/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@import "./variables/colors.modules.css";

:root {
  --ifm-color-primary: #093e6d;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #b2c4d3;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Information badges below */

.badgeRed {
  background: var(--ifm-color-primary);
  color: white;
  padding: 0.2rem;
  font-weight: 750;
  border-radius: 4px;
  margin-right: 1rem;
}

.badgeDarkBlue {
  background: var(--ds-blue-900);
  color: var(--ds-gray-100);
  font-weight: 750;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  margin-right: 1rem;
}

.badgeMint {
  background: #01c3a5;
  color: var(--ds-gray-900);
  padding: 0.2rem;
  font-weight: 750;
  margin-right: 1rem;
}

.badgeGold {
  background: #fbd741;
  color: var(--ds-gray-900);
  padding: 0.2rem;
  font-weight: 750;
  margin-right: 1rem;
}

.badgeOrange {
  background: #ec5c26;
  color: var(--ds-white);
  padding: 0.2rem;
  font-weight: 750;
  margin-right: 1rem;
}

.badgeLime {
  background: #98cb3c;
  color: var(--ds-gray-900);
  padding: 0.2rem;
  font-weight: 750;
  margin-right: 1rem;
}

.badgeYellow {
  background: #fddf7f;
  color: var(--ds-gray-600);
  padding: 0.2rem;
  font-weight: 750;
  margin-right: 1rem;
}

.code-block-highlighted-line {
  background-color: #ffea0020;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid #ffea0080;
}

.code-block-error-line {
  background-color: #ff000020;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid #ff000080;
}
